<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/cars">Rent A Car Project</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Cars</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/cars">Car List</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" routerLink="/car/add">Add Car</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Brands</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/brands">Brand List</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" routerLink="/brand/add">Add Brand</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Colors</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/colors">Color List</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" routerLink="/color/add">Add Color</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Rentals</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/rentals">Rentals List</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" routerLink="/rentals">?</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Customers</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/customers">Customer List</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" routerLink="/customers">?</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item dropdown ml-5 pl-5" *ngIf="checkLogin()">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" style="color:white" role="button" data-bs-toggle="dropdown"
          aria-expanded="false"> <b>{{this.user.firstName}} {{this.user.lastName}} </b></a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item" routerLink="/profile">Hesabım</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/">Şifre Değiştir.</a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><a class="dropdown-item" (click)="logOut()">Çıkış Yap</a></li>
        </ul>
      </li>
      <li style="color: transparent;">tt</li>
      <li class="nav-item" style="width: 80px;"  *ngIf="!checkLogin()">
        <a class=" btn btn-success" aria-current="page" routerLink="/login"><b>Login</b></a>
      </li>
      <li class="nav-item" style="width: 100px;"  *ngIf="!checkLogin()">
        <a class="btn btn-info" aria-current="page" routerLink="/register"><b>Register</b></a>
      </li>
    </ul>
  </div>
</nav>
<!---<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">  
        <li class="nav-item"> <a class="nav-link active" aria-current="page" href="#">Home</a> </li>
        <li class="nav-item"><a class="nav-link" href="#">Link</a> </li>
        <app-cart-summary></app-cart-summary>
        <li class="nav-item"><a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li></ul>
        <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
-->