<div class="card text-center">
    <div class="card-body">
      <ul class="list-group mb-1">
        <li class="list-group-item bg-info">FILTER</li>
      </ul>
      <hr>
      <app-brand></app-brand>
      <hr>
      <app-color></app-color>
      <hr>
    </div>
    <div class="card-footer text-muted d-flex justify-content-md-between">
      <button class="btn btn-success" (click)="setRoute()">Apply</button>
      <button class="btn btn-danger" (click)="clearRoute()">Clean</button>
    </div>
  </div>