<body>
    <div class="container">
        <main class="form-signin">
            <form [formGroup]="registerForm">
                <div class="py-5 text-center">
                    <h2>Kayıt Ol</h2>
                    <p class="lead">Giriş yapabilmek için kayıt olmalısınız.</p>
                </div>
                <div class="row g-5">
                    <div>
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label for="firstName" >First Name
                                    <span class="text-muted">(Required)</span></label>
                                <input formControlName="firstName" type="text" class="form-control" id="firstName"
                                    placeholder="adınız" value="" required />
                            </div>
                            <div class="col-sm-6">
                                <label for="lastName" >Last Name <span
                                        class="text-muted">(Required)</span></label>
                                <input formControlName="lastName" type="text" class="form-control" id="lastName"
                                    placeholder="soyadınız" value="" required />
                            </div>
                            <div class="col-12">
                                <label for="email">Email <span
                                        class="text-muted">(Required)</span></label>
                                <input formControlName="email" type="email" class="form-control" id="email"
                                    placeholder="you@example.com" />
                            </div>
                            <div class="col-12">
                                <label for="password">Password <span
                                        class="text-muted">(Required)</span></label>
                                <input formControlName="password" type="password" class="form-control" id="password"
                                    placeholder="Password" required />
                            </div>
                        </div>
                        <hr class="my-4" />
                        <button (click)="register()" class="w-100 btn btn-primary btn-lg" type="submit">
                            Kayıt Ol
                        </button>
                    </div>
                </div>
            </form>
        </main>
    </div>
</body>