<footer>
  <div class="container py-3">
    <div class="row" style="color: white;">
      <div class="col-xs-12 col-sm-4 col-md-4 footer-column" >
        <p>&copy; Tuna ÖZKAN 2021</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 footer-column">
        <ul class="list-unstyled" >
          <li>
            <a href="#" title="Link yok" > Kullanım Koşulları </a>
          </li>
          <li>
            <a href="#" title="Link yok" > Gizlilik Politikası </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 footer-column">
        <ul class="list-unstyled">
          <li>
            <a href="https://github.com/tunazkn" target="_blank" title="Tuna ÖZKAN">Github</a>
          </li>
          <li>
            <a href="https://instagram.com/tna.zkn/" class="fa fa-instagram" target="_blank" title="Tuna ÖZKAN"> Instagram</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/tunaozkan/" class="fa fa-linkedin" target="_blank" title="Tuna ÖZKAN"> LinkedIn</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
