<footer class="bottom-menu bottom-menu-inverse" background-color="DarkBlue">
  <div class="container py-3">
    <div class="row" style="color: white;">
      <div class="col-xs-12 col-sm-4 col-md-4 footer-column" >
        <p>&copy; Tuna ÖZKAN 2021</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 footer-column">
        <ul class="list-unstyled">
          <li>
            <a href="#"> Gizlilik Politikası </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 footer-column"></div>
    </div>
  </div>
</footer>
