<footer>
  <div class="container py-3">
    <div class="row" style="color: white;">
      <div class="col-xs-12 col-sm-6 col-md-4 footer-column" >
        <p>&copy; Tuna ÖZKAN 2021</p>
        <a href="#" title="Link yok" > Kullanım Koşulları </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 footer-column">
        <ul class="list-unstyled">
          <li>
            <a href="https://github.com/tunazkn" class="fa fa-github btn btn-info"  target="_blank" title="Tuna ÖZKAN"> Github</a>
          </li>
          <li class="mt-1">
            <a href="https://www.linkedin.com/in/tunaozkan/" class="fa fa-linkedin btn btn-info" target="_blank" title="Tuna ÖZKAN"> LinkedIn</a>
          </li>
          
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 footer-column">
        <ul class="list-unstyled">
          <li class="mt-1">
            <a href="https://instagram.com/tna.zkn/" class="fa fa-instagram btn btn-info" target="_blank" title="Tuna ÖZKAN"> Instagram</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
