<div class="container">
  <div class="row my-2 ml-2">
    <button
      routerLink="/brand/add"
      type="button"
      class="btn btn-success center rounded-pill"
    >
      Add New Brand
    </button>
  </div>
  <div class="row">
    <div
      *ngIf="dataLoaded == false"
      class="spinner-border text-primary"
      role="status"
    >
      <span class="visually-hidden">Loading...</span>
    </div>
    <table
      *ngIf="dataLoaded != false"
      class="table table-hover table-striped table-bordered"
    >
      <thead>
        <tr>
          <th scope="col">Brand Id</th>
          <th scope="col">Brand Name</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let brand of brands">
          <td>{{ brand.brandId }}</td>
          <th scope="row">{{ brand.brandName }}</th>
          <td>
            <button
              routerLink="/brand/update/{{ brand.brandId }}"
              type="button"
              class="btn btn-success"
            >
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>