<div *ngIf="dataLoaded == false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf="dataLoaded==true" class="table table-bordered">
  <thead>
      <th>Rental Id</th>
      <th>Car</th>
      <th>First Name & Last Name</th>
      <th>Rent Date</th>
      <th>Return Date</th>
  </thead>
  <tbody>
      <tr *ngFor="let rental of rentals">
          <td>{{rental.id}}</td>
          <td>{{rental.brandName}} {{rental.carName}} {{rental.modelYear}} {{rental.colorName}} </td>
          <td>{{rental.customerName}}</td>
          <td>{{rental.rentDate}}</td>
          <td *ngIf="rental.returnDate == null">Teslim Edilmedi</td>
          <td *ngIf="rental.returnDate != null">{{rental.returnDate}}</td>
      </tr>
  </tbody>
</table>

<!---
<table *ngIf="dataLoaded != false" class="table">
  <thead>
    <tr>
      <td>Id</td>
      <td>Car Id</td>
      <td>Car Name</td>
      <td>Brand Name</td>
      <td>Color Name</td>
      <td>Company Name</td>
      <td>Customer Name</td>
      <td>Model Year</td>
      <td>Daily Price</td>
      <td>Rent Date</td>
      <td>Return Date</td>
    </tr>
  </thead>
  <tr *ngFor="let rentalDetail of rentalDetails">
    <td>{{ rentalDetail.id }}</td>
    <td>{{ rentalDetail.carId }}</td>
    <td>{{ rentalDetail.carName }}</td>
    <td>{{ rentalDetail.brandName }}</td>
    <td>{{ rentalDetail.colorName }}</td>
    <td>{{ rentalDetail.companyName }}</td>
    <td>{{ rentalDetail.customerName }}</td>
    <td>{{ rentalDetail.modelYear }}</td>
    <td>{{ rentalDetail.dailyPrice }}</td>
    <td>{{ rentalDetail.rentDate }}</td>
    <td *ngIf="rentalDetail.returnDate == null">Teslim Edilmedi</td>
    <td *ngIf="rentalDetail.returnDate != null">{{ rentalDetail.returnDate }}</td>
  </tr>
</table>
-->