<div class="container">
  <div class="card shopping-cart">
    <div class="card-header bg-dark text-light">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      Sepetiniz
    </div>
    <div class="card-body" *ngFor="let cartItem of cartItems">

      <div class="row">
        <div class="col-md-6">
          <img class="img-responsive" src="{{baseUrl}}/{{cartItem.car.imagePath}}" alt="prewiew" width="600"
            height="400">
        </div>
        <br>
        <div class="col-md-6 text-center">
          <h1 class="product-name"><strong>{{cartItem.car.brandName}} {{cartItem.car.carName}}</strong></h1>
          <br><br>
          <h2>
            <small>{{cartItem.car.modelYear}}</small> model<br>
            <small>{{cartItem.car.colorName}}</small> <br><br>
            <small>{{cartItem.car.description}}</small><br>
          </h2><br>
          <div class=" col-md-12 row mt-3 pt-3 text-md-right">
            <div class=" col-md-10 text-md-right" >
              <h4><strong>{{cartItem.car.dailyPrice |currency: "₺ "}} </strong> <small>/Gün</small></h4>
            </div>
            <div class="col-md-2 text-right">
              <button (click)="removeFromCart(cartItem.car)" class="btn btn-outline-danger btn-xs" title="Sil">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </div> 
          </div>
            <div class="row mt-3">
              <div class="col-3"></div>
              <div class="col-8 pull-right py-1">
                <form class="form-inline">
                  <div class="form-group">
                    <div class="input-group">
                      <input class="form-control mr-1"  placeholder="yyyy-mm-dd" name="dp"
                        [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (ngModelChange)="calculatePrice()">
  
                      <button class="icon-calendar fa-pull-right" (click)="d.toggle()" type="button">Choose Return Date </button>
                    </div>
                  </div>
                </form><span *ngIf="dayDifference==null" style="color: red;">Teslim Tarihi Seçiniz</span>
              </div>
              <div class="col-1"></div>
            </div>
        </div>
      </div>

      <br>
      <hr>

      <div class="row" style="background-color: transparent">
        <div class="col-md-6"></div>
        <div class="col-md-6 pull-right">
          <button (click)="createRental()" routerLink="/payment/" type="button" class="btn btn-success btn-lg pull-right"> Got
            to Pay </button>
          <div class="pull-right" style="margin: 5px;margin-right: 10px;">
            <span *ngIf="dayDifference!=null">{{dayDifference}}</span>
            <span *ngIf="dayDifference==null">1</span>
            Gün İçin Total Price: <b>{{totalPrice}} TL</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>