  
<app-navi></app-navi>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-filter></app-filter>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!---<div class="container py-1">
  <app-navi></app-navi>

  <div class="row mt-3">
    <div class="col-md-2">
      <app-brand></app-brand>
      <app-color></app-color>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div> 
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <app-customer></app-customer>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12 bg-info">
      <app-rental></app-rental>
    </div>
  </div>
  <div class="row mt-3" style="background-color:black;">
  <app-footer></app-footer>
  </div>

</div>
-->