<div class="container py-1">
  <app-navi></app-navi>

  <div class="row mt-3">
    <div class="col-md-2">
      <app-brand></app-brand>
    </div>
    <div class="col-md-8 bg-success">
      <app-car></app-car>
    </div>
    <div class="col-md-2">
      <app-color></app-color>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12 bg-success">
      <app-customer></app-customer>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12 bg-info">
      <app-rental></app-rental>
    </div>
  </div>
  <div class="row mt-3 bg-dark">
  <app-footer></app-footer>
  </div>

  <router-outlet></router-outlet>
</div>
