<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <table *ngIf="dataLoaded!=false" class="table">
    <thead>
      <tr>
        <td>User Id</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
        <td>Company Name</td>
      </tr>
    </thead>
    <tr *ngFor="let customerDetail of customerDetails">
      <td>{{ customerDetail.userId }}</td>
      <td>{{ customerDetail.firstName }}</td>
      <td>{{ customerDetail.lastName }}</td>
      <td>{{ customerDetail.email }}</td>
      <td>{{ customerDetail.companyName }}</td>
    </tr>
  </table>